@import url('https://fonts.googleapis.com/css2?family=Uncial+Antiqua&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Laila:wght@300;400;500;600;700&family=Uncial+Antiqua&display=swap');


.laila-light {
  font-family: "Laila", serif;
  font-weight: 300;
  font-style: normal;
}

.laila-regular {
  font-family: "Laila", serif;
  font-weight: 400;
  font-style: normal;
}

.laila-medium {
  font-family: "Laila", serif;
  font-weight: 500;
  font-style: normal;
}

.laila-semibold {
  font-family: "Laila", serif;
  font-weight: 600;
  font-style: normal;
}

.laila-bold {
  font-family: "Laila", serif;
  font-weight: 700;
  font-style: normal;
}
.uncial-antiqua-regular {
  font-family: "Uncial Antiqua", system-ui;
  font-weight: 400;
  font-style: normal;
}

/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
body *{
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}




/******************************************
/* LAYOUT
/*******************************************/
html{
  font:400 62.5% Laila,Verdana,Times,Tahoma,'Palatino Linotype',Garamond,Courier, Arial;
  color: black;
}
a{
  list-style-type:none ;
  text-decoration: none;
  color: black;
}
.btn{
  border: 1px solid black;
  padding: .5rem;
  border-radius: 5px;
  background-color:  rgb(102, 3, 3);
  box-shadow: 2px 2px 2px black;
  transition: box-shadow .2s ease-in-out;
}
.btn:active{
  box-shadow: 0 0 0 black;
}

/* nav *//* nav *//* nav *//* nav *//* nav *//* nav *//* nav *//* nav */
/* nav *//* nav *//* nav *//* nav *//* nav *//* nav *//* nav *//* nav */
/* nav *//* nav *//* nav *//* nav *//* nav *//* nav *//* nav *//* nav */
.nav{
  position: sticky;
  flex-direction: row;
  justify-content:space-evenly ;
  width: 100vw;
  background-color: rgb(118, 6, 6);
  color:wheat;
  padding: 0;
  align-items: center;
  margin: 0;
  height: 34px;
}
nav a{
  color:wheat
}

nav img{
  
  width: 100px;
 
}
nav *{
  flex-direction: row;
}
  a[href*= checkout] {
  margin: 0 2rem;
  
}
.dropDown{
  position: relative;
  height: 100%;
  align-items: center;
}
.dropDown:hover +.nav.about,.nav.about:hover{
display: flex;
}
.nav.about{
  display: none;
  padding: 3px;
  width:fit-content;
  margin: 0 auto;
  border-radius: 0 0 5px 5px;
  position: absolute;
  top: 34px;
}
.nav.about li{
margin: 0 2px;}
.login{
  height: 100%;
  align-items: center;
}
.login:hover ~.nav.login,.nav.login:hover {
  display: flex;
}
.nav.login{
  flex-direction: column;
  display: none;
  padding: 0 3px;
  width:fit-content;
  margin: 0 auto;
  border-radius: 0 0 5px 5px;
  position: absolute;
  top: 34px;
  left:20%;
  height: 100px;
}
.nav .login li{
  padding: 1px;
}
.nav.login input[type*=submit]{
text-align: center;
color: wheat;
}

 .revealPassword{
  position: relative;
border: 1px solid black;
width: 20px;
height: 20px;
border-radius: 5px;
justify-content: center;
align-self: flex-start;
margin: 1px;
}
.membership, .membership a{
  height:100%;
    align-items: center;
}
/******************************************
/* ADDITIONAL STYLES
*****************************************
